.navbar {background-color:#1E0F18 ;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    position: fixed;
    z-index: 200;

}

.ullist {justify-content: space-evenly;
display: flex;
flex-direction: row;
gap: 7%;
list-style-type: none;
background-color:#FDF0AB;
width: 60%;
padding: 1% 1%;
border-radius: 20px;
color: #1E0F18;
}

li {  transition: transform 0.5s ease;}

li:hover {transform: scale(1.1); }

.logonav {width: 70px;
height:70px ;
text-shadow: 7px -4px 20px 0 rgba(253, 240, 171, 0.25);
}







